* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(img/cyber-city.gif);
}

.box {
    position: relative;
    right: -60%;
    width: 550px;
    height: 650px;
    border-radius: 30px;
    background: #31E1F7;
    padding: 30px 50px;
    box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25), 10px 10px 70px rgba(0, 0, 0, 0.25), inset 5px 5px 10px rgba(0, 0, 0, 0.25), inset 5px 5px 20px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(0, 0, 0, 0.75);
}

h2 {
    width: 100%;
    position: relative;
    font-weight: 600;
    text-align: center;
    color: #FFF2D8;
    font-size: 2em;
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 5px;
    word-spacing: 2px;
    text-transform: capitalize;
    font-variant: small-caps;
    padding-bottom: 20px;
    text-shadow:
        0 1px #808d93,
        -1px 0 #cdd2d5,
        -1px 2px #808d93,
        -2px 1px #cdd2d5,
        -2px 3px #808d93,
        -3px 2px #cdd2d5,
        -3px 4px #808d93,
        -4px 3px #cdd2d5,
        -4px 5px #808d93,
        -5px 4px #cdd2d5,
        -5px 6px #808d93,
        -6px 5px #cdd2d5,
        -6px 7px #808d93,
        -7px 6px #cdd2d5,
        -7px 8px #808d93,
        -8px 7px #cdd2d5;
}

#inputBx {
    position: relative;
    width: 100%;
    margin-left: 0;
    border: none;
    outline: none;
    padding: 15px 20px;
    border-radius: 30px;
    font-size: 1em;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25), inset 2px 2px 5px rgba(0, 0, 0, 0.5), inset -3px -3px 5px rgba(0, 0, 0, 0.5);
}

.box li {
    position: relative;
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
    font-family: "Protest Riot", sans-serif;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25), inset 2px 2px 5px rgba(0, 0, 0, 0.5), inset -3px -3px 5px rgba(0, 0, 0, 0.5);
    background: #1f83f2;
    margin: 15px 0;
    padding: 10px 10px 10px 45px;
    min-height: 45px;
    cursor: pointer;
    border-radius: 22.5px;
    color: #ffff;
}

.box li i {
    position: absolute;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ff2c74;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25), inset 2px 2px 5px rgba(255, 255, 255, 0.25), inset -3px -3px 5px rgba(0, 0, 0, 0.5);
    right: -40px;
    border-radius: 50%;
}

.box li i::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    background: #fff;
    transform: rotate(45deg);
}


.box li i::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    background: #fff;
    transform: rotate(-45deg);
}

.box li::before {
    content: '';
    position: absolute;
    left: 8px;
    width: 30px;
    height: 30px;
    background: #2f363e;
    border-radius: 50%;

}

.box li.done {
    background: #B3FFAE;
    color: #F8FFDB;
    font-family: "Protest Riot", sans-serif;
    text-shadow: 2px 2px grey;
}

.box li.done:after {
    content: '';
    position: absolute;
    left: 15px;
    width: 12px;
    height: 6px;
    border-left: 2px solid #2f3;
    border-bottom: 2px solid #2f3;
    transform: rotate(315deg);

}

#list {
    position: relative;
    margin-top: 20px;
    height: 350px;
    overflow-y: auto;
    padding-right: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #1f83f2;
}